In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/DATA_2.csv')

In [ ]:
df.head()

                       name  year  ...  transmission         owner
0             Maruti 800 AC  2007  ...        Manual   First Owner
1  Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2      Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3    Datsun RediGO T Option  2017  ...        Manual   First Owner
4     Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner

[5 rows x 8 columns]

In [ ]:
df.shape

(4340, 8)

In [ ]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [ ]:
print("Fuel:", set(df['fuel']))
print("Seller type:",set(df['seller_type']))
print("transmission:",set(df['transmission']))
print("owner:",set(df['owner']))

Fuel: {'CNG', 'Electric', 'Diesel', 'Petrol', 'LPG'}
Seller type: {'Individual', 'Dealer', 'Trustmark Dealer'}
transmission: {'Automatic', 'Manual'}
owner: {'Test Drive Car', 'First Owner', 'Second Owner', 'Third Owner', 'Fourth & Above Owner'}

In [ ]:
df['Fuel'] = df.fuel.map({'CNG': 0, 'Electric': 1, 'Diesel': 2, 'Petrol': 3, 'LPG': 4})
df.drop(['fuel'],axis = 1, inplace = True)

In [ ]:
df['SellerType'] = df.seller_type.map({'Individual': 0, 'Dealer': 1, 'Trustmark Dealer': 2})
df.drop(['seller_type'],axis = 1, inplace = True)

In [ ]:
df['Transmission'] = df.transmission.map({'Automatic': 0, 'Manual': 1})
df.drop(['transmission'],axis = 1, inplace = True)

In [ ]:
df['Owner'] = df.owner.map({'Test Drive Car': 0, 'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3, 'Fourth & Above Owner': 4})
df.drop(['owner'],axis = 1, inplace = True)

In [ ]:
df.head()

                       name  year  ...  Transmission  Owner
0             Maruti 800 AC  2007  ...             1      1
1  Maruti Wagon R LXI Minor  2007  ...             1      1
2      Hyundai Verna 1.6 SX  2012  ...             1      1
3    Datsun RediGO T Option  2017  ...             1      1
4     Honda Amaze VX i-DTEC  2014  ...             1      2

[5 rows x 8 columns]

In [ ]:
X = df.drop(['name','selling_price'],axis=1)
Y = df['selling_price']

In [ ]:
X.head()

   year  km_driven  Fuel  SellerType  Transmission  Owner
0  2007      70000     3           0             1      1
1  2007      50000     3           0             1      1
2  2012     100000     2           0             1      1
3  2017      46000     3           0             1      1
4  2014     141000     2           0             1      2

In [ ]:
Y.head()

0     60000
1    135000
2    600000
3    250000
4    450000
Name: selling_price, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=100)

In [ ]:
from sklearn.linear_model import Ridge,Lasso
Rd = Ridge()
Ls = Lasso()

In [ ]:
Rd.fit(X_train,Y_train)

Ridge()

In [ ]:
Y_predR = Rd.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
print("Ridge: ", r2_score(Y_test,Y_predR))

Ridge:  0.49175963530086475

In [ ]:
Ls.fit(X_train,Y_train)

Lasso()

In [ ]:
Y_predL = Ls.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
print("Lasso: ", r2_score(Y_test,Y_predL))

Lasso:  0.49190447248633695