In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/heart.csv')

In [ ]:
df.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [ ]:
set(df['ChestPainType'])

{'ASY', 'ATA', 'NAP', 'TA'}

In [ ]:
set(df['Sex'])

{'F', 'M'}

In [ ]:
set(df['RestingECG'])

{'LVH', 'Normal', 'ST'}

In [ ]:
set(df['ExerciseAngina'])

{'N', 'Y'}

In [ ]:
set(df['ST_Slope'])

{'Down', 'Flat', 'Up'}

In [ ]:
df.shape

(918, 12)

In [ ]:
df['sex'] = df.Sex.map({'M': 1, 'F': 0})
df.drop(['Sex'],axis = 1, inplace = True)

In [ ]:
df['chestPainType'] = df.ChestPainType.map({'ASY':0, 'ATA':1, 'NAP':2, 'TA':3})
df.drop(['ChestPainType'],axis = 1, inplace = True)

In [ ]:
df['restingECG'] = df.RestingECG.map({'LVH':0, 'Normal':1, 'ST':2})
df.drop(['RestingECG'],axis = 1, inplace = True)

In [ ]:
df['exerciseAngina'] = df.ExerciseAngina.map({'N':0, 'Y':1})
df.drop(['ExerciseAngina'],axis = 1, inplace = True)

In [ ]:
df['ST_slope'] = df.ST_Slope.map({'Down':0, 'Flat':1, 'Up':2})
df.drop(['ST_Slope'],axis = 1, inplace = True)

In [ ]:
df.isnull().sum()

Age               0
RestingBP         0
Cholesterol       0
FastingBS         0
MaxHR             0
Oldpeak           0
HeartDisease      0
sex               0
chestPainType     0
restingECG        0
exerciseAngina    0
ST_slope          0
dtype: int64

In [ ]:
df.head()

   Age  RestingBP  Cholesterol  ...  restingECG  exerciseAngina  ST_slope
0   40        140          289  ...           1               0         2
1   49        160          180  ...           1               0         1
2   37        130          283  ...           2               0         2
3   48        138          214  ...           1               1         1
4   54        150          195  ...           1               0         2

[5 rows x 12 columns]

In [ ]:
X = df.drop(['HeartDisease'],axis=1)

In [ ]:
X.head()

   Age  RestingBP  Cholesterol  ...  restingECG  exerciseAngina  ST_slope
0   40        140          289  ...           1               0         2
1   49        160          180  ...           1               0         1
2   37        130          283  ...           2               0         2
3   48        138          214  ...           1               1         1
4   54        150          195  ...           1               0         2

[5 rows x 11 columns]

In [ ]:
type(X)

pandas.core.frame.DataFrame

In [ ]:
Y = df['HeartDisease']

In [ ]:
Y.head()

0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [ ]:
type(Y)

pandas.core.series.Series

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state = 101)

In [ ]:
from sklearn.linear_model import LogisticRegression
Log = LogisticRegression()

In [ ]:
Log.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
Y_pred = Log.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score,classification_report
r2_score(Y_test,Y_pred)

0.29017480409885454

In [ ]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.80      0.80      0.80        79
           1       0.85      0.85      0.85       105

    accuracy                           0.83       184
   macro avg       0.82      0.82      0.82       184
weighted avg       0.83      0.83      0.83       184